.playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
  }
  
  .subTitle {
    margin-top: -1em;
    color: #4f4f4f;
  }
  .pad1 {padding: 40px 0px;}

  .time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    color: #828282;
    font-size: smaller;
  }
  
  .timeline {
    width: 80%;
    background-color: #27ae60;
  }
  
  input[type="range"] {
    background-color: #27ae60;
  }
  
  @media (max-width: 900px) {
    .component {
      width: 50%;
    }
  }

  .hero .hero-content {
	text-align: center;
    margin-top: 40px;
}

.hero-content h2 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 45px;
}

.hero-content hr {
	max-width: 450px;
	margin: 20px auto;
	border-top: 3px solid #ddd;
}

.hero-content p {
	font-size: 20px;
	line-height: 28px;
}

.hero-playlist {
	margin-top: 50px;
}

.hero-playlist .figure {
	position: relative;
	max-width: 450px;
	margin: 0 auto;
}

.img-responsive{
    width: 90%;
    object-fit: contain;
    height: 400px;
}

.hero-playlist .figure .disk {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 200px;
	height: 200px;
	margin-top: -100px;
	margin-left: -100px;
	opacity: 0.5;
}

.hero-playlist .album-details {
	max-width: 450px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 30px;
	text-align: center;
	letter-spacing: 0.1em;
}

.hero-playlist .album-details h4 {
	font-size: 22px;
	line-height: 32px;
	text-transform: uppercase;
}

.hero-playlist .album-details h5 {
	margin-top: 15px;
	margin-bottom: 20px;
	font-size: 18px;
	font-weight: 400;
	color: #aaa;
}

.hero-playlist .album-details p {
	margin-bottom: 30px;
	font-size: 15px;
	line-height: 30px;
}

.playlist-content {
	margin-top: 20px;
	margin-right: 30px;
}

.playlist-content .playlist-number {
	margin-bottom: 10px;
	padding: 10px 15px;
	background: #fafafa;
	border: 1px solid #ddd;
}

.playlist-content .playlist-number .song-info {
	width: 100%;
	margin: auto;	
}

.playlist-content .playlist-number .song-info h4 {
	margin-top: 5px;
	margin-bottom: 5px;
	font-size: 15px;
}
.playlist-content .playlist-number .song-info p {
	font-size: 12px;
	font-style: italic;
}

.playlist-content .playlist-number .music-icon {width: 100%;
	margin: auto;}
.playlist-content .playlist-number .music-icon a {
	display: inline-block;
	width: 35px;
	height: 45px;
	line-height: 45px;
	font-size: 30px;
	text-align: center;
}
